<p class="menu-title">Main</p>
<ul class="menu-items">
    {% include sidebar_menu.html url="/" title="Home" %}
    {% include sidebar_menu.html url="/sponsors" title="Sponsors" %}
    {% include sidebar_menu.html url="/blog" title="Blog" %}
    {% include sidebar_menu.html url="/docs" title="Docs" %}
    {% include sidebar_menu.html url="/gallery" title="Gallery" %}
    <li><a href="https://github.com/aravindavk/chitra-d">Github Repo</a></li>
    {% include sidebar_menu.html url="/docs/reference" title="Reference" %}
</ul>
<p class="menu-title">General</p>
<ul class="menu-items">
    {% include sidebar_menu.html url="/docs" title="Introduction" %}
    {% include sidebar_menu.html url="/docs/features" title="Features" %}
    {% include sidebar_menu.html url="/docs/quickstart" title="Quickstart" %}
    {% include sidebar_menu.html url="/docs/installation" title="Installation" %}
    {% include sidebar_menu.html url="/docs/drawing-context" title="Drawing Context" %}
    {% include sidebar_menu.html url="/docs/d-guide" title="D guide" %}
    {% include sidebar_menu.html url="/docs/coordinate-system" title="Coordinate System" %}
    {% include sidebar_menu.html url="/docs/paper-sizes" title="Paper Sizes" %}
    {% include sidebar_menu.html url="/docs/exporting" title="Exporting" %}
    {% include sidebar_menu.html url="/docs/lua-plugin" title="Lua Plugin" %}
</ul>

<p class="menu-title">Utilities</p>
<ul class="menu-items">
    {% include sidebar_menu.html url="/docs/units" title="Units" %}
    {% include sidebar_menu.html url="/docs/distance" title="Distance" %}
    {% include sidebar_menu.html url="/docs/constants" title="Constants" %}
    {% include sidebar_menu.html url="/docs/named-colors" title="Named Colors" %}
</ul>

<p class="menu-title">Drawing</p>
<ul class="menu-items">
    {% include sidebar_menu.html url="/docs/colors" title="Colors" %}
    {% include sidebar_menu.html url="/docs/shapes" title="Shapes" %}
    {% include sidebar_menu.html url="/docs/transformations" title="Transformations" %}
    {% include sidebar_menu.html url="/docs/grid" title="Grid" %}
    {% include sidebar_menu.html url="/docs/background" title="Background" %}
    {% include sidebar_menu.html url="/docs/images" title="Images" %}
    {% include sidebar_menu.html url="/docs/text" title="Text" %}
    {% include sidebar_menu.html url="/docs/multipage-pdfs" title="Multipage PDFs" %}
    {% include sidebar_menu.html url="/docs/bezier" title="Bezier Paths" %}
    {% include sidebar_menu.html url="/docs/qr" title="QR" %}
    {% include sidebar_menu.html url="/docs/tables" title="Tables" %}
    {% include sidebar_menu.html url="/docs/animation" title="Animation" %}
</ul>
